<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.banana">

    <application>
        <activity
            android:name=".groupchat.groupchat.chat.GroupChatActivity"
            android:configChanges="keyboardHidden|keyboard|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".groupchat.groupchat.chat.GroupAnnounceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".groupchat.groupchat.forbidden.ForbiddenActivitty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.groupchat.forbidden.ForbiddenListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.membermanage.GroupChatMembersManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.membermanage.SpeakSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.message.GroupChatNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.groupchat.SearchAndJoinGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".groupchat.groupchat.groupcreat.FamilyCreatActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".groupchat.groupchat.groupcreat.FamilyVerifyCommandActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".groupchat.groupchat.setInfo.GroupInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.groupchat.setInfo.GroupManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.groupchat.setInfo.GroupShirtLabelSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize"></activity>
        <activity
            android:name=".groupchat.groupchat.GroupShirtDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".groupchat.groupchat.setInfo.GroupLeaderSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".groupchat.groupchat.setInfo.GroupMemberCheckActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".groupchat.groupchat.RewardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".groupchat.chat.SimpleChatActivity"
            android:configChanges="keyboardHidden|keyboard|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".groupchat.groupchat.GroupJoinListActivity"
            android:configChanges="keyboardHidden|keyboard|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

    </application>


</manifest>